
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffb6c1;
    font-family: "Arial", sans-serif;
    text-align: center;
    margin: 0;
}


.container {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 320px;
}


h1 {
    font-size: 24px;
    color: #ff3366;
}
h2 {
    font-size: 18px;
    color: #666;
}


.gif_container img {
    width: 200px;
    height: auto;
    margin: 15px 0;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}


.yes {
    background-color: #ff3366;
    color: white;
    font-weight: bold;
}
.yes:hover {
    background-color: #ff6699;
}

.no {
    background-color: gray;
    color: white;
    position: absolute;
}
